/*buttons positions*/
#btn1 {
    top: 327px;
    left: 120px;
}

#btn2 {
    top: 23px;
    left: 232px;
}

#btn3 {
    top: 357px;
    left: 370px;
}

#btn4 {
    top: 108px;
    left: 518px;
}

#btn5 {
    top: 326px;
    left: 680px;
}

#btn6 {
    top: 8px;
    left: 714px;
}

#btn7 {
    top: 339px;
    left: 898px;
}

/*all buttons styles*/
#allButtons button {
    position: absolute;
    border: 5px solid rgb(189, 58, 171);
    background-color: #41e189;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 30px;
    transition: ease .5s;
    transition-duration: 0.5s;    
}

/*all buttons div style*/
#allButtons {
    background: url('levels.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    border-radius: 20%;
    width: 1000px;
    height: 400px;
    top: 135px;
    left: 16%;
    z-index: -1;
}

/*level selection logo style*/
#select {
    background: url('levelselection.png') no-repeat center center;
    background-size: 260px 120px;
    position: absolute;
    width: 260px;
    height: 120px;
    top:110px;
    left: 610px;
}